.dexboard {
    & .swiper {
        margin-bottom: 50px;
    }
    & .Table {
        &-body {
            border-radius: 14px;
        }
        & .tr {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
            @include transition;
            @include xl {
                width: min-content;
            }
            @include lg {
                width: min-content;
            }
            @include mmd {
                width: min-content;
            }
            &.header {
                background-color: transparent;
                margin-bottom: 20px;
                @include sm {
                    margin-bottom: 12px;
                }
            }
            & .th,
            & .td {
                flex: 0 0 auto;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include transition;
                color: #F5F3F5;
                & .logo {
                    flex: 0 0 auto;
                }
                --extra:40px;
                --xlWidth:150px;
                @include xl {
                    --xlWidth: 140px;
                }
                @include lg {
                    --xlWidth: 140px;
                }
                @include mmd {
                    --xlWidth: 140px;
                }
                @include sm {
                    --xlWidth: 100px;
                }
                &:first-child {
                    --width: 20.23%;
                    width: var(--width);
                    @include xxl {
                        --width: 18%;
                    }
                    @include xl {
                        --width: 200px;
                    }
                    @include lg {
                        --width: 200px;
                    }
                    @include mmd {
                        --width: 200px;
                    }
                }
                &:nth-child(2) {
                    --width: 18.16%;
                    width: var(--width);
                    @include xl {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include lg {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include md {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include sm {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                }
                &:nth-child(3) {
                    --width: 16.25%;
                    width: var(--width);
                    @include xl {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include lg {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include md {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include sm {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                }
                &:nth-child(4) {
                    --width: 21.19%;
                    width: var(--width);
                    @include xl {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include lg {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include md {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include sm {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                }
                &:nth-child(5) {
                    --width: 14.74%;
                    width: var(--width);
                    @include xl {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include lg {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include md {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include sm {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                }
                &:nth-child(6) {
                    --width: 9.4%;
                    width: var(--width);
                    @include xl {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include lg {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include md {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                    @include sm {
                        width: calc(var(--xlWidth) + var(--extra));
                    }
                }
            }
        }
    }
    .page {
        .active {
            border-radius: 6px;
            background: #1B1D22;
        }
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-pagination-bullet {
        --width: 10px;
        width: var(--width);
        height: var(--width);
        background-color: black;
        border: 2px solid white;
    }
    .swiper-pagination-bullet-active {
        --width: 14px;
        width: var(--width);
        height: var(--width);
        background-color: $primary;
        border-width: 0px !important;
    }
}