@import url('https://fonts.cdnfonts.com/css/lufga');
$font-1:'Lufga',
sans-serif;
$white:#fff;
$black:#000;
$primary: #FF2021;
$secondary: #050505;
$text:#A6A6A6;
$heading: #F6F6F6;
$border:#1D1F26;
$bg:$black;
:root {
    scroll-behavior: auto !important;
}